{
  "$schema": "https://developers.reddit.com/schema/config-file.v1.json",
  "name": "rsspostbot",
  "blocks": {
    "entry": "src/main.js",
    "triggers": [
      "onAppInstall",
      "onAppUpgrade"
    ]
  },
  "permissions": {
    "http": {
      "enable": true,
      "domains": [
        "feeds.simplecast.com"
      ]
    },
    "redis": true,
    "reddit": true
  }
}
